.App {
  text-align: center;
}

.App-header {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: .25s linear;
  animation-delay: 1.5s;
}
.App-header.active {
  opacity: 1;
}

.App-header ul {
  list-style: none;
}

.Header-logo figure {
  font-weight: 300;
}

.Header-logo figcaption {
  font-size: 25px;
  margin-right: 10px;
}

.Header-logo img {
  position: relative;
  animation: fly 5s linear 0s infinite;
}

.Header-link {
  color: white;
  font-weight: 400;
  margin: 10px 15px;
}

.Main-banner {
  position: relative;
  top: 0px;
  background: url('./assets/home/banner/dk2.webp') center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
}

.Main-banner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #0000002b;
  pointer-events: none;
  z-index: -1;
}

.Main-banner h1 {
  font-size: 45px;
  opacity: 0;
  /* transform: scale(0); */
  transition: .5s ease;
  transition-delay: 1.5s;
}

.Main-banner h1.active {
  opacity: 1;
  /* transform: scale(1); */
}

.videoBanner-skills {
  font-size: 17px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  font-size: 12px;
  z-index: 99;
  text-align: left;
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-left: 0;
  opacity: 0;
  transition: .5s linear;
}
.videoBanner-skills.active {
  opacity: 1;
}

.videoBanner-skills li {
  width: 21%;
  border-right: 1px solid black;
  padding: 20px;
  list-style-type: none;
}

.videoBanner-skills h2,
.videoBanner-skills p,
.videoBanner-skills span {
  color: black;
  font-size: 11px;
}

.videoBanner-skills figure {
  margin: 0;
}

.Introduction {
  padding: 60px 80px;
  background: #0a272e;
  box-shadow: inset 0px 12px 26px -7px rgba(0,0,0,0.1);
}

.Introduction p {
  color: white;
  font-size: 19px;
  text-align: center;
}


.Services {
  background-color: black;
  padding: 100px 0;
  background-size: cover !important;
  background-repeat: no-repeat;
  position: relative;
}

.Services:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.243);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Service {
  width: 31%;
  margin: 0;
  cursor: pointer;
}

.Service figcaption {
  font-size: 20px;
}

.Service p {
  font-size: 16px;
  line-height: 25px;
}

.Service img {
  background: white;
  padding: 10px;
  border-radius: 15px;
  /* width: 60px;
  height: 60px; */
  margin-bottom: 15px;
}


.Stories {
  padding: 60px 0;
  background: #876f43;
}

.Stories h4 {
  max-width: 400px;
  text-align: left;
}

.Stories-slider {
  max-width: 400px;
}

.Stories-slide {
  /* margin: 0 25px; */
}


.Connect {
  padding: 140px 0;
  background: url(./assets/home/contact/nieve2.JPG) 0px -10px no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

.Connect h4 {
  margin-bottom: 30px;
  font-size: 30px;
}

.Connect:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00000087;
  pointer-events: none;
}

.Connect-form {
  width: 60%;
  background: #593c2d99;
  box-shadow: -5px 2px 8px 5px #593c2d99;
  padding: 40px 0;
  border-radius: 20px;
  margin-right: 5%;
}

.Connect-form input {
  color: black;
}

.Connect-form input:first-child {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  display: block;
  padding: 10px;
  border-radius: 20px;
}

.Connect-form input:nth-child(2) {
  width: 40%;
  margin: auto;
  margin-right: 2%;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 20px;
}

.Connect-form input:nth-child(3) {
  width: 40%;
  margin: auto;
  margin-left: 2%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
}

.Connect-form .Input-message {
  width: 90%;
  margin: auto;
  display: block;
  padding: 10px;
  border-radius: 20px;
}

.Connect-info {
  width: 30%;
  background: #593c2d99;
  box-shadow: -5px 2px 8px 5px #593c2d99;
  padding: 50px 0;
  border-radius: 20px;
}

.Connect-info ul {
  padding: 0;
  text-align: left;
}

.Connect-info li {
  list-style-type: none;
}

.Connect-form .button {
  width: 30%;
  display: block;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  padding: 10px;
  color: black;
  font-weight: bold;
}


.Footer {
  background-color: #13130d;
}

.footer-socialNetwork a {
  pointer-events: none;
}

.footer-socialNetwork img {
  margin: 0 10px
}

@media screen and (max-width: 768px) {
  .App-header ul {
    flex-direction: column;
    margin-right: 20px;
    align-items: flex-end;
  }

  .App-header li {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .Header-logo figcaption {
    font-size: 20px;
  }

  .Header-logo figure {
    margin: 20px 0 0px 20px;
  }

  .Header-link {
    margin-right: 0;
  }

  .Main-banner {
    background-position: -630px -20px;
  }
  
  .Main-banner h1 {
    font-size: 25px;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
  }

  .videoBanner-skills {
    flex-wrap: wrap;
  }

  .videoBanner-skills span {
    display: none;
  }

  .videoBanner-skills li {
    width: 44%;
    padding: 10px;
    border-bottom: 1px solid black;
  }

  .Introduction {
    padding: 40px 30px;
  }

  .Introduction br {
    display: none;
  }

  .Introduction p {
    font-size: 17px;
  }

  .Service {
    width: 48%;
    margin-bottom: 20px;
  }

  .Service figcaption {
    font-size: 18px;
  }

  .Service p {
    font-size: 13px;
  }

  .Service span {
    display: none;
  }

  .Services .container {
    flex-wrap: wrap;
  }

  .Stories .container {
    flex-direction: column;
  }

  .Stories h4 {
    text-align: center;
  }

  .Stories-slider {
    width: 80%;
  }

  .Connect {
    padding: 60px 0px;
    background-position: 0px 0px;
  }

  .Connect .flex {
    flex-direction: column-reverse;
  }

  .Connect-form {
    width: 80%;
    margin: 0;
  }

  .Connect-info {
    width: 80%;
    margin-bottom: 30px;
  }

  .Connect-info ul {
    text-align: center;
  }

  .Connect-form input:nth-child(2),
  .Connect-form input:nth-child(3) {
    width: 90%;
    margin: 0;
    margin-bottom: 30px;
  }

  .Footer .container {
    flex-direction: column;
    padding: 20px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-start {
  align-items: flex-start;
}

.evenly {
  justify-content: space-evenly;
}

.between {
  justify-content: space-between
}

.around {
  justify-content: space-around;
}

.relative {
  position: relative;
}


@keyframes fly {
  0% {
    opacity: 0;
    top: 0%;
    left: 0%;
  }
  75% {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  100% {
    top: 0%;
    left: 100%;
    opacity: 0;
  }
}

 * {
  scroll-behavior: smooth;
 }