.App {
  text-align: center;
}

.App-header {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.App-header ul {
  list-style: none;
}

.Header-logo figure {
  font-weight: 300;
}

.Header-logo figcaption {
  font-size: 25px;
  margin-right: 10px;
}

.Header-link {
  color: white;
  font-weight: 400;
  margin: 10px 15px;
}

.Main-banner {
  background: url('./assets/home/banner/dk2.webp') center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
}

.Main-banner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #0000002b;
  pointer-events: none;
  z-index: -1;
}

.Main-banner h1 {
  font-size: 45px;
}

.videoBanner-skills {
  font-size: 17px;
  box-sizing: border-box;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  font-size: 12px;
  z-index: 99;
  text-align: left;
  align-items: stretch;
  transform: translateY(30px);
  transition: .5s;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-left: 0;
}

.videoBanner-skills li {
  width: 21%;
  border-right: 1px solid black;
  padding: 20px;
  list-style-type: none;
}

.videoBanner-skills h2,
.videoBanner-skills p,
.videoBanner-skills span {
  color: black;
  font-size: 12px;
}

.videoBanner-skills figure {
  margin: 0;
}

.Introduction {
  padding: 60px 80px;
  background: #0a272e;
  box-shadow: inset 0px 12px 26px -7px rgba(0,0,0,0.1);
}

.Introduction p {
  color: white;
  font-size: 19px;
  text-align: center;
}


.Services {
  background-color: black;
  padding: 100px 0;
}

.Service {
  width: 31%;
  margin: 0;
}

.Service figcaption {
  font-size: 20px;
}

.Service p {
  font-size: 16px;
  line-height: 25px;
}

.Service img {
  background: white;
  padding: 10px;
  border-radius: 15px;
  /* width: 60px;
  height: 60px; */
  margin-bottom: 15px;
}


.Stories {
  padding: 60px 0;
  background: gray;
}

.Stories h4 {
  max-width: 400px;
  text-align: left;
}

.Stories-slider {
  max-width: 400px;
}

.Stories-slide {
  /* margin: 0 25px; */
}


.Connect {
  padding: 60px 0;
  background: url(./assets/home/contact/nieve2.JPG) 0px -30px no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

.Connect:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00000087;
  pointer-events: none;
}

.Connect-form {
  width: 70%;
}

.Connect-form input:first-child {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

.Connect-form input:nth-child(2) {
  width: 27%;
  margin: auto;
  margin-right: 2.3%;
  margin-bottom: 10px;
}

.Connect-form input:nth-child(3) {
  width: 27%;
  margin: auto;
  margin-left: 2.3%;
  margin-bottom: 10px;
}

.Connect-form input:last-child {
  width: 60%;
  margin: auto;
  display: block;
}

.Connect-info {
  width: 30%
}

.Connect-info ul {
  padding: 0;
  text-align: left;
}

.Connect-info li {
  list-style-type: none;
}


.Footer {
  background-color: #13130d;
}

.footer-socialNetwork a {
  pointer-events: none;
}

.footer-socialNetwork img {
  margin: 0 10px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-start {
  align-items: flex-start;
}

.evenly {
  justify-content: space-evenly;
}

.between {
  justify-content: space-between
}

.around {
  justify-content: space-around;
}

.relative {
  position: relative;
}